/public/ftp/summary/col2stats.txt
/public/ftp/summary/col3stats.txt
/public/ftp/summary/col4stats.txt
/public/ftp/summary/col5stats.txt
/public/ftp/summary/col6stats.txt
/public/ftp/summary/col7stats.txt
/public/ftp/datalogs/
/public/ftp/summary/
/cp2root/var/volatile/datalog
/public/ftp/summary/col1stats.txt
/public/ftp/summary/col1.stats
/public/ftp/summary/col2.txt
